// 主题色
$primaryColor: #409eff;
$helpColor: #e26237;
$sucColor: #1dc779;
$warnColor: #ffb302;
$priceColor: #cf4444;

// 侧边栏
$sidebarBg: #304156;
$sidebarText: #bfcbd9;
$sidebarActive: #409eff;

// 头部
$headerHeight: 50px;
